In [3]:
import numpy as np

In [2]:
array_1 = np.asarray([1,2,3,4,5,6,7,8,9,10])
array_1

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [3]:
array_2 = np.arange(12).reshape(3,4)
array_2

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])

In [4]:
array_3 = np.arange(3*3*4).reshape(3,3,4)
array_3

array([[[ 0,  1,  2,  3],
        [ 4,  5,  6,  7],
        [ 8,  9, 10, 11]],

       [[12, 13, 14, 15],
        [16, 17, 18, 19],
        [20, 21, 22, 23]],

       [[24, 25, 26, 27],
        [28, 29, 30, 31],
        [32, 33, 34, 35]]])

### Sprawdź do czego służą i przetestuj działanie następujących funkcji tworzących tablice ndarray

**1.1 asarray** Konwertuje dane wejściowe (lista, lista krotek, krotka, krotka krotek, krotka list) na tablice ndarray. Możliwa jest zmiana typu danych oraz porzadek danych.

In [3]:
list = [1,2,3,4,5,6,7,8,9,10]
array_of_list = np.asarray(list)
array_of_list

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [4]:
list_of_tuples = [(1.0,2.2,3.3),(4.6,5.5,6.4),(7.8,8.8,9.9)]
array_of_list_of_tuples = np.array(list_of_tuples, dtype=int)
array_of_list_of_tuples

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

**1.2. ones_like** Zwraca tablicę jedynek o takim samym kształcie i typie jak tablica wejściowa

In [117]:
array_full_of_ones = np.ones_like(array_2)
array_full_of_ones

array([[1, 1, 1, 1],
       [1, 1, 1, 1],
       [1, 1, 1, 1]])

**1.3. zeros_like** Zwraca tablicę zer o takim samym kształce i typie jak tablica wejściowa

In [118]:
array_full_of_ones = np.zeros_like(array_2)
array_full_of_ones

array([[0, 0, 0, 0],
       [0, 0, 0, 0],
       [0, 0, 0, 0]])

**1.4. full** Zwraca nową tablicę o podanym kształcie (int lub sekwencja intów) i typie. Nowa tablica jest wypełniona wartościami

In [11]:
array_full_of_somevalues = np.full((9,7), ['a','b','c','d','e','f', 'g'])
array_full_of_somevalues

array([['a', 'b', 'c', 'd', 'e', 'f', 'g'],
       ['a', 'b', 'c', 'd', 'e', 'f', 'g'],
       ['a', 'b', 'c', 'd', 'e', 'f', 'g'],
       ['a', 'b', 'c', 'd', 'e', 'f', 'g'],
       ['a', 'b', 'c', 'd', 'e', 'f', 'g'],
       ['a', 'b', 'c', 'd', 'e', 'f', 'g'],
       ['a', 'b', 'c', 'd', 'e', 'f', 'g'],
       ['a', 'b', 'c', 'd', 'e', 'f', 'g'],
       ['a', 'b', 'c', 'd', 'e', 'f', 'g']], dtype='<U1')

In [12]:
array_full_of_somevalues2 = np.full(7, ['a', 'b', 'c','d', 'e', 'f', 'g'])
array_full_of_somevalues2

array(['a', 'b', 'c', 'd', 'e', 'f', 'g'], dtype='<U1')

**1.5. full_like** Tak samo jak funkcja wyżej, ale przyjmuje inną tablicę i generuje tablice o takim samym kształcie i typie danych.

In [121]:
array = np.full_like([array_2], [10,11,12,13])
array

array([[[10, 11, 12, 13],
        [10, 11, 12, 13],
        [10, 11, 12, 13]]])

**1.6. eye** Zwraca tablicę dwuwymiarową z jedynkami po przekątnej i zerami w reszcie. Przyjmując jako wartość kształt tablicy.

In [16]:
np.eye(7)

array([[1., 0., 0., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0., 0., 0.],
       [0., 0., 1., 0., 0., 0., 0.],
       [0., 0., 0., 1., 0., 0., 0.],
       [0., 0., 0., 0., 1., 0., 0.],
       [0., 0., 0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 0., 0., 1.]])

In [66]:
np.eye(7, k=3) #przesunięcie

array([[0., 0., 0., 1., 0., 0., 0.],
       [0., 0., 0., 0., 1., 0., 0.],
       [0., 0., 0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 0., 0., 1.],
       [0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0.]])

**1.7. identity** Zwraca kwadratową tablicę z jedynkami na głównej przekątnej, za wartość przyjmując kształt

In [19]:
np.identity(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

### Sprawdź, w jaki sposób są konwertowane przez funkcję astype niecałkowite wartości

In [21]:
array = np.array([1.8,2.8,3.8,4.8,5.8])
array.dtype

dtype('int32')

In [27]:
int_array = array.astype(int)
int_array

array([1, 2, 3, 4, 5])

Metoda astype umożliwia konwertowanie jednego typu danych na drugi. Dla rzutowania wartości zmiennoprzecinkowych (float) na wartości stałoprzecinkowe (int) wartość dziesiętna jest pomijana.

### Przekonwertuj tablicę wartości zmiennoprzecinkowych na tablicę stringów. Następnie przekonwertuj tablicę stringów z powrotem na wartości zmiennoprzecinkowe.

In [64]:
array_float = np.array ([1.2345, 1.2345, 1.2345, 1.2345, 1.2345])
array_string = array_float.astype(str)
array_string

array(['1.2345', '1.2345', '1.2345', '1.2345', '1.2345'], dtype='<U32')

Metoda astype umożliwia konwersję łancucha znaków przedstawiającego liczby na wartości numeryczne

In [67]:
array_float_again = array_string.astype(float)
array_float_again

array([1.2345, 1.2345, 1.2345, 1.2345, 1.2345])

**Dodatkowe info**: Dane łancuchowe w NumPy zawierają określony rozmiar, a więc dane wejściowe mogą zostać ucięte bez żadnego ostrzeżenia. / (W.McKinney, "Python w analizie danych", str. 100)

### Zaprezentuj przykład rozgłaszania na dowolnej dwuargumentowej operacji gdzie pierwszym argumentem jest tablica trójwymiarowa, a drugim argumentem tablica dwuwymiarowa.

In [147]:
array_2*array_3

array([[[  0,   1,   4,   9],
        [ 16,  25,  36,  49],
        [ 64,  81, 100, 121]],

       [[  0,  13,  28,  45],
        [ 64,  85, 108, 133],
        [160, 189, 220, 253]],

       [[  0,  25,  52,  81],
        [112, 145, 180, 217],
        [256, 297, 340, 385]]])

Rozgłaszanie w przypadku iloczynu dwóch tablic (o różnych wymiarach) - powstaje tablica o wymiarze tablicy większej. Natomiast wartości w niej są iloczynem  tablicy pierwszej przez drugą.Tam gdzie 'brakuje' odpowiednika w drugiej tablicy, wartości są jakby rozciągane

In [146]:
array_2 - array_3

array([[[  0,   0,   0,   0],
        [  0,   0,   0,   0],
        [  0,   0,   0,   0]],

       [[-12, -12, -12, -12],
        [-12, -12, -12, -12],
        [-12, -12, -12, -12]],

       [[-24, -24, -24, -24],
        [-24, -24, -24, -24],
        [-24, -24, -24, -24]]])

In [139]:
array_2 - array_1

ValueError: operands could not be broadcast together with shapes (3,4) (10,)

Nie ilość wymiarów ma znaczenie dla wykonywania operacji arytmetycznych, ale długość ostatniego wymiaru dla obu tablic musi być taki sam lub wynosić 1.

### Przeczytaj w dokumentacji zastosowanie następujących metod a następnie przetestuj ich działanie na dowolnej tablicy dwuwymiarowej

**5.1. sum** Suma wszystkich elementów tablicy lub podanego wiersza. Można sumować po różnych osiach lub rozpocząć sumowanie od jakiejś wartości

In [79]:
np.sum(array_2)

66

In [89]:
np.sum(array_2, axis =0) # sumowanie według kolumn

array([12, 15, 18, 21])

In [96]:
np.sum(array_2, axis = 0, initial =5)

array([17, 20, 23, 26])

**5.2. mean** Zwraca średnią elementów listy. Średnia jest brana defaultowo dla osi płaskiej (wierszy)

In [101]:
np.mean(array_2, axis = 1)

array([1.5, 5.5, 9.5])

**5.3. std** Zwraca odchylenie standardowe

In [107]:
np.std(array_2, axis = 1)

array([1.11803399, 1.11803399, 1.11803399])

**5.4. var** Zwraca wariancję

In [106]:
np.var(array_2)

11.916666666666666

**5.5. min** Zwraca minimalną wartość z tablicy

In [109]:
np.min(array_2)

0

**5.6. max** Zwraca maksymalną wartość z tablicy

In [110]:
np.max(array_2)

11

**5.7. argmin** Indeks elementu o najniższej wartości

In [111]:
np.argmin(array_2)

0

**5.8. argmax** indeks elementu o najwyższej wartości

In [112]:
np.argmax(array_2)

11

**5.9. cumsum** Zwraca tablicę jednowymiarową. Skumulowana suma kolejnych elementów zaczynając od zera.

In [113]:
np.cumsum(array_2)

array([ 0,  1,  3,  6, 10, 15, 21, 28, 36, 45, 55, 66])

**5.10. cumprod** Zwraca tablicę jednowymiarową. Skumulowany iloczyn elementów, zaczynając od 1

In [116]:
np.cumprod(array_2)

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0])

### Zadanie z listy Rzadania

**6.1.** Wygeneruj wektor stworzony z wektora [1, 2, 3], aby każdy element powtarzał się 4 razy i 
taka sekwencja była powtórzona 3-krotni

Pierwszy sposób (tablica jednowymiarowa)

In [211]:
vector = np.asarray([1,2,3])
vector_5=np.empty(12)

vector_5[12+0:12+4]=np.copy(vector[0])
vector_5[12+5:12+7]=np.copy(vector[1])
vector_5[12+8:12+11]=np.copy(vector[2])

vector_5=np.append(vector_0,vector_0)
vector_5=np.append(vector_final,vector_2)

vector_5

array([1., 1., 1., 1., 2., 2., 2., 2., 3., 3., 3., 3., 1., 1., 1., 1., 2.,
       2., 2., 2., 3., 3., 3., 3., 1., 1., 1., 1., 2., 2., 2., 2., 3., 3.,
       3., 3., 1., 1., 1., 1., 2., 2., 2., 2., 3., 3., 3., 3.])

Drugi sposób (tablica trójwymiarowa)

In [199]:
array=np.empty((3,4,4))
for i in range(3):
    array_2[:,i,:]=i+1
array

array([[[1., 1., 1., 1.],
        [2., 2., 2., 2.],
        [3., 3., 3., 3.],
        [4., 4., 4., 4.]],

       [[1., 1., 1., 1.],
        [2., 2., 2., 2.],
        [3., 3., 3., 3.],
        [4., 4., 4., 4.]],

       [[1., 1., 1., 1.],
        [2., 2., 2., 2.],
        [3., 3., 3., 3.],
        [4., 4., 4., 4.]]])

In [192]:
?np.empty

**6.2.** Wygeneruj wektor wartości od 1 do 10 co 0.25.

In [162]:
arr = np.arange(1,10.25,0.25)
arr

array([ 1.  ,  1.25,  1.5 ,  1.75,  2.  ,  2.25,  2.5 ,  2.75,  3.  ,
        3.25,  3.5 ,  3.75,  4.  ,  4.25,  4.5 ,  4.75,  5.  ,  5.25,
        5.5 ,  5.75,  6.  ,  6.25,  6.5 ,  6.75,  7.  ,  7.25,  7.5 ,
        7.75,  8.  ,  8.25,  8.5 ,  8.75,  9.  ,  9.25,  9.5 ,  9.75,
       10.  ])

**6.3.** Wygeneruj wektor 43 wartości równomiernie od 1 do 10.

In [163]:
arr = np.linspace(start=1,stop=10, num=43)
arr

array([ 1.        ,  1.21428571,  1.42857143,  1.64285714,  1.85714286,
        2.07142857,  2.28571429,  2.5       ,  2.71428571,  2.92857143,
        3.14285714,  3.35714286,  3.57142857,  3.78571429,  4.        ,
        4.21428571,  4.42857143,  4.64285714,  4.85714286,  5.07142857,
        5.28571429,  5.5       ,  5.71428571,  5.92857143,  6.14285714,
        6.35714286,  6.57142857,  6.78571429,  7.        ,  7.21428571,
        7.42857143,  7.64285714,  7.85714286,  8.07142857,  8.28571429,
        8.5       ,  8.71428571,  8.92857143,  9.14285714,  9.35714286,
        9.57142857,  9.78571429, 10.        ])

**6.4.** Wyświetl co trzeci element z powyższego wektora.

In [183]:
arr_2 = arr[::3]
arr_2

array([ 1.        ,  1.64285714,  2.28571429,  2.92857143,  3.57142857,
        4.21428571,  4.85714286,  5.5       ,  6.14285714,  6.78571429,
        7.42857143,  8.07142857,  8.71428571,  9.35714286, 10.        ])

**6.5.** Wyjaśnij wynik działania komendy c(1,2,3,4,5,6) – 1

In [186]:
vector=np.asarray([1,2,3,4,5,6])
vector-1

array([0, 1, 2, 3, 4, 5])

Po stworzeniu tablicy jednowymiarowej istnieje możliwość odjęcia od niej wartości skalarnej. W powyższym przykładzie wartość każdego elementu została pomniejszona o jeden.

**6.6.** Wyjaśnij wynik działania komendy c(1,2,3,4,5,6) - c(1,2)

In [187]:
A=np.asarray([1,2,3,4,5,6])
B=np.asarray([1,2])
A-B

ValueError: operands could not be broadcast together with shapes (6,) (2,)

Operacja nie mogła zostać wykonana, ze względu na różne kształty podanych tablic.

**6.7.** Utwórz macierz o 3 wierszach i 2 kolumnach poprzez

a) wypełnienie jej wierszowo wektorem c(1,2,3,4,5,6),

In [226]:
list = [1,2,3,4,5,6]
array = np.array(list).reshape((3,2), order='C')
array

array([[1, 2],
       [3, 4],
       [5, 6]])

b) wypełnienie jej kolumnowo wektorem c(1,2,3,4,5,6),

In [224]:
array=np.array(list).reshape((3,2), order='F')
array

array([[1, 4],
       [2, 5],
       [3, 6]])

c) złożenie wektorów c(1,2,3) i c(4,5,6),

In [231]:
list_1 = [1,2,3]
list_2 = [4,5,6]
array=np.array((list_1,list_2)).reshape(3,2)
array

array([[1, 2],
       [3, 4],
       [5, 6]])

d) złożenie wektorów c(1,4), c(2,5) i c(3,6).

In [233]:
list_1=[1,4]
list_2=[2,5]
list_3=[3,6]
array=np.array((list_1, list_2, list_3)).reshape(3,2)
array

array([[1, 4],
       [2, 5],
       [3, 6]])

**6.8.** Utwórz macierz A o 6 wierszach i 6 kolumnach wypełnioną wierszowo liczbami od 1 do 36.
Następnie korzystając z indeksowania utwórz macierz B:

In [386]:
array_A = np.arange(start=1, stop=37).reshape((6,6))
array_A

array([[ 1,  2,  3,  4,  5,  6],
       [ 7,  8,  9, 10, 11, 12],
       [13, 14, 15, 16, 17, 18],
       [19, 20, 21, 22, 23, 24],
       [25, 26, 27, 28, 29, 30],
       [31, 32, 33, 34, 35, 36]])

a) o 3 wierszach i 3 kolumnach zawierającą elementy z wierszy o parzystych numerach i kolumn
o nieparzystych numerach z macierzy A, przy czym kolumny w odwrotnej kolejności, czyli:
pierwszy wiersz macierzy B będzie zawierał liczby 11, 9, 7, drugi 23, 21, 19, a trzeci 35, 33 i
31,

In [338]:
array_B=np.eye(3)

for i in range (3):
    array_B[i][0:4]=array_A[i+1][-2:-7:-2].copy()
    
array_B

array([[11.,  9.,  7.],
       [17., 15., 13.],
       [23., 21., 19.]])

b) składającą się z dwóch ostatnich wierszy macierzy A,

In [348]:
array_B = array_A[-2:].copy()
array_B

array([[25, 26, 27, 28, 29, 30],
       [31, 32, 33, 34, 35, 36]])

c) składającą się z dwóch środkowych kolumn macierzy A,

In [367]:
array_B = array_A[:,2:4]
array_B

array([[ 3,  4],
       [ 9, 10],
       [15, 16],
       [21, 22],
       [27, 28],
       [33, 34]])

d) składającą się z macierzy A z usuniętym drugim wierszem i trzecią kolumną.

In [390]:
array_B=np.delete(array_A, 2,1).copy() #trzecia kolumna
array_B=np.delete(array_B, 1,0)
array_B

array([[ 1,  2,  4,  5,  6],
       [13, 14, 16, 17, 18],
       [19, 20, 22, 23, 24],
       [25, 26, 28, 29, 30],
       [31, 32, 34, 35, 36]])

**6.9.** Wyjaśnij dla powyższej macierzy A wynik działania komendy A[2:3,4:6] <- c(1,2,3)

In [422]:
array_A[1:3,3:6]=[1,2,3]
array_A

array([[ 1,  2,  3,  4,  5,  6],
       [ 7,  8,  9,  1,  2,  3],
       [13, 14, 15,  1,  2,  3],
       [19, 20, 21, 22, 23, 24],
       [25, 26, 27, 28, 29, 30],
       [31, 32, 33, 34, 35, 36]])

Powyższe zadanie zmodyfikowałam w taki sposób by wynik był taki sam jak w R. 
Dla 6 pozycji znajdujących się w macierzy A w 2 i 3 wierszu kolumnach od 4 do 6 
(10 11 12 
 16 17 18) 
zostały zmienione wartości na  1,2,3. Wartości zostały dodane do macierzy A wierszowo.

**6.10.** Wyjaśnij jaka jest dla powyższej macierzy A różnica między komendą A>10 a komendą
A[A>10]

In [423]:
array_A>10

array([[False, False, False, False, False, False],
       [False, False, False, False, False, False],
       [ True,  True,  True, False, False, False],
       [ True,  True,  True,  True,  True,  True],
       [ True,  True,  True,  True,  True,  True],
       [ True,  True,  True,  True,  True,  True]])

Dla A>10  cała macierz jest sprawdzana pod kątem warunku (element>10). Zwracana jest wartość typu boolean (dla każdego takiego elementu to wartość TRUE lub FALSE). Zwrócona jest macierz nadal w takim samym rozmiarze,czyli 6x6
wypełniona wartościami TRUE i FALSE.

In [426]:
array_A[array_A>10]

array([13, 14, 15, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32,
       33, 34, 35, 36])

Dla A[A>10] macierz jest sprawdzana kolumnowo i jeśli któryś z elementów posiada wartość większą niż 10 to jest on zwracany.  Powstaje nam wektor, w którym znajdują się konkretne wartości z macierzy.

### Posortuj poniższą tablicę w wierszach.

In [440]:
T = np.array([[5,2,1,6],[4,8,3,1],[2,4,7,8]])
T

array([[5, 2, 1, 6],
       [4, 8, 3, 1],
       [2, 4, 7, 8]])

In [431]:
np.sort(T,axis=1)

array([[1, 2, 5, 6],
       [1, 3, 4, 8],
       [2, 4, 7, 8]])

### Posortuj powyższą tablicę w kolumnach.

In [434]:
np.sort(T,axis=0)

array([[2, 2, 1, 1],
       [4, 4, 3, 6],
       [5, 8, 7, 8]])

### Za pomocą np.argsort() podaj numery elementów oryginalnej tablicy w każdym wierszu, gdyby była ona posortowana w wierszach.

In [447]:
np.argsort(T,axis=1)

array([[2, 1, 0, 3],
       [3, 2, 0, 1],
       [0, 1, 2, 3]], dtype=int64)

### Poniższą tablicę posortuj zgodnie z porządkiem leksykograficznym na podstawie kolumny drugiej, w następnej kolejności na podstawie kolumny czwartej, a ostatecznie szóstej.

In [6]:
T = np.array([[5,2,5,2,7,4],[2,2,1,5,4,3],[1,3,4,1,4,5],[1,3,1,1,2,2]])

In [7]:
T

array([[5, 2, 5, 2, 7, 4],
       [2, 2, 1, 5, 4, 3],
       [1, 3, 4, 1, 4, 5],
       [1, 3, 1, 1, 2, 2]])

In [1232]:
order_of_rows=np.lexsort((T[:,5],T[:,3], T[:,1])) #kolejność w jakiej powinny być poukładane wiersze
order_of_rows

array([0, 1, 3, 2], dtype=int64)

In [1234]:
new_T=np.empty((4,6))
for i in range (order_of_rows.shape[0]):
    new_T[i,:] = T[[(order_of_rows[i])],:]           
    
print(new_T)

[[5. 2. 5. 2. 7. 4.]
 [2. 2. 1. 5. 4. 3.]
 [1. 3. 1. 1. 2. 2.]
 [1. 3. 4. 1. 4. 5.]]

### Za pomocą np.hsplit() podziel powyższą tablicę na 3 równe części.

In [480]:
T = np.array([[5,2,5,2,7,4],[2,2,1,5,4,3],[1,3,4,1,4,5],[1,3,1,1,2,2]])
T

array([[5, 2, 5, 2, 7, 4],
       [2, 2, 1, 5, 4, 3],
       [1, 3, 4, 1, 4, 5],
       [1, 3, 1, 1, 2, 2]])

In [497]:
A= np.hsplit(T, 3)
A

[array([[5, 2],
        [2, 2],
        [1, 3],
        [1, 3]]),
 array([[5, 2],
        [1, 5],
        [4, 1],
        [1, 1]]),
 array([[7, 4],
        [4, 3],
        [4, 5],
        [2, 2]])]

### Za pomocą np.hsplit() podziel powyższą tablicę na 4 części tak, aby w pierwszej , trzeciej i czwartej części znalazła się tylko jedna kolumna, a w drugiej części 3 kolumny.

In [498]:
B = np.hsplit(T,[1,4,5])
B

[array([[5],
        [2],
        [1],
        [1]]),
 array([[2, 5, 2],
        [2, 1, 5],
        [3, 4, 1],
        [3, 1, 1]]),
 array([[7],
        [4],
        [4],
        [2]]),
 array([[4],
        [3],
        [5],
        [2]])]

### Za pomocą np.vsplit() podziel powyższą tablicę na 3 dowolne części.

In [501]:
C= np.vsplit(T,[1,3])
C

[array([[5, 2, 5, 2, 7, 4]]),
 array([[2, 2, 1, 5, 4, 3],
        [1, 3, 4, 1, 4, 5]]),
 array([[1, 3, 1, 1, 2, 2]])]

### W trzech powyższych zadaniach, po podziale scal z powrotem części w jedną tablicę za pomocą np.vstack() lub np.hstack().

In [502]:
A_consolidated = np.hstack(A)
A_consolidated

array([[5, 2, 5, 2, 7, 4],
       [2, 2, 1, 5, 4, 3],
       [1, 3, 4, 1, 4, 5],
       [1, 3, 1, 1, 2, 2]])

In [503]:
B_consolidated = np.hstack(B)
B_consolidated

array([[5, 2, 5, 2, 7, 4],
       [2, 2, 1, 5, 4, 3],
       [1, 3, 4, 1, 4, 5],
       [1, 3, 1, 1, 2, 2]])

In [505]:
C_consolidated = np.vstack(C)
C_consolidated

array([[5, 2, 5, 2, 7, 4],
       [2, 2, 1, 5, 4, 3],
       [1, 3, 4, 1, 4, 5],
       [1, 3, 1, 1, 2, 2]])

### Co robi z wektorem w poniższa operacja?

In [526]:
w = np.arange(1,11)
print(w.shape)
w = w[:, np.newaxis]
print(w.shape)
w

(10,)
(10, 1)

array([[ 1],
       [ 2],
       [ 3],
       [ 4],
       [ 5],
       [ 6],
       [ 7],
       [ 8],
       [ 9],
       [10]])

Zwiększony został wymiar o jeden w porównaniu do pierwotnego wektoru. Obecnie jest to tablica dwuwymarowa o jednej kolumnie i 10 wierszach.

### Co stanie się, jeżeli w powyszej opercji zamienimy pozycje indeksowania?

In [525]:
w = np.arange(1,11)
print(w.shape)
w = w[np.newaxis, :]
print(w.shape)
w

(10,)
(1, 10)

array([[ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10]])

Również powstała tablica dwuwymiarowa, jednak teraz jest w niej 10 kolumn

### Korzystając z powyższego wektora i operatora `*`, wykorzystaj rozgłaszanie do wyliczenia tabliczki mnożenia do 100.

In [571]:
multiplication_table = w *w.T
multiplication_table

array([[  1,   2,   3,   4,   5,   6,   7,   8,   9,  10],
       [  2,   4,   6,   8,  10,  12,  14,  16,  18,  20],
       [  3,   6,   9,  12,  15,  18,  21,  24,  27,  30],
       [  4,   8,  12,  16,  20,  24,  28,  32,  36,  40],
       [  5,  10,  15,  20,  25,  30,  35,  40,  45,  50],
       [  6,  12,  18,  24,  30,  36,  42,  48,  54,  60],
       [  7,  14,  21,  28,  35,  42,  49,  56,  63,  70],
       [  8,  16,  24,  32,  40,  48,  56,  64,  72,  80],
       [  9,  18,  27,  36,  45,  54,  63,  72,  81,  90],
       [ 10,  20,  30,  40,  50,  60,  70,  80,  90, 100]])

### Wykorzystaj funkcję `np.nonzero()` aby uzyskać indeksy wierszy i kolumn wszystkich elementów z tablicy z zadania 10, która są jednocześnie nie mniejsze od 2 i mniejsze od 7. Wypisz wszystkie takie pary (nr_wiersza, nr_kolumny) na ekranie (podpowiedź: komenda `zip`).

In [8]:
np.nonzero((T >= 2) & (T < 7))

(array([0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 2, 2, 2, 2, 3, 3, 3], dtype=int64),
 array([0, 1, 2, 3, 5, 0, 1, 3, 4, 5, 1, 2, 4, 5, 1, 4, 5], dtype=int64))

In [17]:
x = np.nonzero((T >= 2) & (T < 7))[0]
y = np.nonzero((T >= 2) & (T < 7))[1]
zipped = zip (x,y)

In [18]:
list(zipped)

[(0, 0),
 (0, 1),
 (0, 2),
 (0, 3),
 (0, 5),
 (1, 0),
 (1, 1),
 (1, 3),
 (1, 4),
 (1, 5),
 (2, 1),
 (2, 2),
 (2, 4),
 (2, 5),
 (3, 1),
 (3, 4),
 (3, 5)]

###  Korzystając z np.unique(), w poniższym wektorze znajdź wszystkie elementy unikatowe, ich indeksy oraz liczbę powtórzeń każdego z nich.

In [572]:
w = np.array([1,2,2,2,3,1,3,1,4,4,5,6,5,7,8,8])

In [573]:
?np.unique

In [582]:
unique_elements = np.unique(w, return_index=True, return_counts=True) 
#pierwsza tablica to elementy unikatowe, druga  to indeksy tych elementów, trzecia to liczba powtórzeń

In [583]:
unique_elements

(array([1, 2, 3, 4, 5, 6, 7, 8]),
 array([ 0,  1,  4,  8, 10, 11, 13, 14], dtype=int64),
 array([3, 3, 2, 2, 2, 1, 1, 2], dtype=int64))

### Korzystając z `np.unique()`, w poniższej tablicy znajdź wszystkie unikatowe wiersze, ich indeksy oraz liczbę powtórzeń każdego z nich.

In [577]:
T = np.array([[1,2],[2,1],[2,2],[2,2],[2,3],[3,2],[1,2],[1,4],[2,1]])

In [585]:
np.unique(T, return_index= True, return_counts=True, axis=0) 
#Pierwsza tablica to unikalne wiersze, druga to ich indeksy, a trzecia to powtórzenia

(array([[1, 2],
        [1, 4],
        [2, 1],
        [2, 2],
        [2, 3],
        [3, 2]]),
 array([0, 7, 1, 2, 4, 5], dtype=int64),
 array([2, 1, 2, 2, 1, 1], dtype=int64))

###  Podczas ostatniego wykładu podano cztery sposoby liczenia odległości między klastrami. Wczytaj klastry z plików klaster A.csv, klaster B.csv i klaster C.csv za pomocą np.loadtxt(). Następnie wylicz odległości między każdą parą klastrów na każdy z czterech sposobów korzystając z możliwości NumPy.

In [14]:
A = np.loadtxt('klaster A.csv',skiprows=1, delimiter = ',', usecols=(1,2))

In [15]:
B = np.loadtxt('klaster B.csv',skiprows=1, delimiter = ',', usecols=(1,2))

In [16]:
C = np.loadtxt('klaster C.csv',skiprows=1, delimiter = ',', usecols=(1,2))

**Minimalna, maksymalna i średnia odległość**

Klaster A i B

In [1109]:
value_min = 100
value_max = 0
value_avg = 0
count_avg = 0

for i in range (np.shape(A)[0]):
    for j in range (np.shape(B)[0]):
        value  = np.array( np.sqrt(((A[i,0]-B[j,0])**2) + (A[i,1]-B[j,1])**2))
        value_avg = (value + (value_avg *count_avg))/(count_avg + 1)
        count_avg += 1

        if value_min > value:
            value_min = value
        if value_max < value:
            value_max = value
        
print ("Średnia odległość pomiędzy Klastrem A i Klastrem C: ", value_avg)     
print("Minimalna odległość pomiędzy Klastrem A i Klastrem B: ", value_min)
print("Maksymalna odległość pomiędzy Klastrem A i Klastrem B: ", value_max)

Średnia odległość pomiędzy Klastrem A i Klastrem C:  4.686730233678573
Minimalna odległość pomiędzy Klastrem A i Klastrem B:  0.09819857164533183
Maksymalna odległość pomiędzy Klastrem A i Klastrem B:  11.822119042888593

Klaster B i C

In [1110]:
value_min = 100
value_max = 0
value_avg = 0
count_avg = 0

for i in range (np.shape(B)[0]):
    for j in range (np.shape(C)[0]):
        value  = np.array( np.sqrt(((B[i,0]-C[j,0])**2) + (B[i,1]-C[j,1])**2))
        value_avg = (value + (value_avg *count_avg))/(count_avg + 1)
        count_avg += 1

        if value_min > value:
            value_min = value
        if value_max < value:
            value_max = value
        
print ("Średnia odległość pomiędzy Klastrem B i Klastrem C: ", value_avg)     
print("Minimalna odległość pomiędzy Klastrem B i Klastrem C: ", value_min)
print("Maksymalna odległość pomiędzy Klastrem B i Klastrem C: ", value_max)

Średnia odległość pomiędzy Klastrem B i Klastrem C:  6.299729503620301
Minimalna odległość pomiędzy Klastrem B i Klastrem C:  0.24164938880270387
Maksymalna odległość pomiędzy Klastrem B i Klastrem C:  14.505844261364368

Klaster C i A

In [1111]:
value_min = 100
value_max = 0
value_avg = 0
count_avg = 0

for i in range (np.shape(C)[0]):
    for j in range (np.shape(A)[0]):
        value = np.array( np.sqrt(((C[i,0]-A[j,0])**2) + (C[i,1]-A[j,1])**2))
        value_avg = (value + (value_avg *count_avg))/(count_avg + 1)
        count_avg += 1
        if value_min > value:
            value_min = value
        if value_max < value:
            value_max = value
        
print ("Średnia odległość pomiędzy Klastrem A i Klastrem C: ", value_avg)
print("Minimalna odległość pomiędzy Klastrem A i Klastrem C: ", value_min)
print("Maksymalna odległość pomiędzy Klastrem A i Klastrem C: ", value_max)

Średnia odległość pomiędzy Klastrem A i Klastrem C:  6.646745060472026
Minimalna odległość pomiędzy Klastrem A i Klastrem C:  0.8278319350126467
Maksymalna odległość pomiędzy Klastrem A i Klastrem C:  11.87251657746101

**Odległość średnich**

In [1112]:
A_mean=np.mean(A, axis=0)
B_mean=np.mean(B, axis=0)
C_mean=np.mean(C, axis=0)

In [1105]:
d_mean_AB = np.sqrt(((A_mean[0]-B_mean[0])**2) + (A_mean[1]-B_mean[1])**2)
d_mean_BC = np.sqrt(((B_mean[0]-C_mean[0])**2) + (B_mean[1]-C_mean[1])**2)
d_mean_AC = np.sqrt(((A_mean[0]-C_mean[0])**2) + (A_mean[1]-C_mean[1])**2)


print("Odległość średnich pomiędzy klastrem A i B wynosi: ", d_mean_AB )
print("Odległość średnich klastrem B i C wynosi: ", d_mean_BC)
print("Odległość średnich klastrem A i C wynosi: ", d_mean_AC)

Odległość średnich pomiędzy klastrem A i B wynosi:  3.8998519904939424
Odległość średnich klastrem B i C wynosi:  5.692671238296148
Odległość średnich klastrem A i C wynosi:  6.3784804147126

###  Dla każdego sposobu pomiaru odległości pomiędzy klastrami wylicz miarę $wc(C)/bc(C)$.

Miarę odchylenia (wc(C)) wewnątrzklastrowego definiujemy jako
sumę odległości obiektów od środków klastrów, do których obiekty należą. Odchylenie
międzyklastrowe (bc(C)) definiujemy jako sumę odległości środków wszystkich par
klastrów.

Środki klastrów

In [46]:
mean_point_A = np.mean(A, axis=0)  #środek klastra A

wc(C) - Klaster A

In [36]:
mean_point_A = np.mean(A, axis=0)  #środek klastra A

2.1060844389969198

In [40]:
wc_A=0
for i in range(A.shape[0]):
    distance = (A[i,0] - mean_point_A[0])**2 + (A[i,1] - mean_point_A[1])**2
    wc_A=wc_A+distance
               
print(wc_A)

108.27752287450072

wc(C) - Klaster B

In [41]:
mean_point_B = np.mean(B, axis=0)  #środek klastra B

In [43]:
wc_B=0
for i in range(B.shape[0]):
    distance = (B[i,0] - mean_point_B[0])**2 + (B[i,1] - mean_point_B[1])**2
    wc_B=wc_B+distance
               
print(wc_B)

631.3943626398847

wc(C) - Klaster C

In [44]:
mean_point_C = np.mean(C, axis=0)  #środek klastra C

In [45]:
wc_C=0
for i in range(C.shape[0]):
    distance = (C[i,0] - mean_point_C[0])**2 + (C[i,1] - mean_point_C[1])**2
    wc_C=wc_C+distance
               
print(wc_C)

459.98615480738323