In [8]:
#import kaggle
#kaggle.api.dataset_download_cli('jalota/Books-dataset', path='datasets', unzip=True)

**Zadanie 4**

Wczytaj do ramki danych zbiór https://www.kaggle.com/datasets/jalota/books-dataset.

In [4]:
import pandas as pd
df = pd.read_csv('datasets/Book_Dataset_1.csv', sep = ',', header =0)
df.columns

Index(['Unnamed: 0', 'Title', 'Category', 'Price', 'Price_After_Tax',
       'Tax_amount', 'Avilability', 'Number_of_reviews', 'Book_Description',
       'Image_Link', 'Stars'],
      dtype='object')

Dla powyższej ramki danych wykonaj następujące polecenia:

**1.** Usuń kolumnę 'Unnamed'

In [10]:
df = df.drop(columns='Unnamed: 0')
df.head()

,Title,Category,Price,Price_After_Tax,Tax_amount,Avilability,Number_of_reviews,Book_Description,Image_Link,Stars
0,A Light in the Attic,Poetry,51.77,51.77,0.0,22,0,It's hard to imagine a world without A Light i...,http://books.toscrape.com/media/cache/fe/72/fe...,3
1,Tipping the Velvet,Historical Fiction,53.74,53.74,0.0,20,0,"""Erotic and absorbing...Written with starling ...",http://books.toscrape.com/media/cache/08/e9/08...,1
2,Soumission,Fiction,50.10,50.10,0.0,20,0,"Dans une France assez proche de la nÃ´tre, un ...",http://books.toscrape.com/media/cache/ee/cf/ee...,1
3,Sharp Objects,Mystery,47.82,47.82,0.0,20,0,"WICKED above her hipbone, GIRL across her hear...",http://books.toscrape.com/media/cache/c0/59/c0...,4
4,Sapiens: A Brief History of Humankind,History,54.23,54.23,0.0,20,0,From a renowned historian comes a groundbreaki...,http://books.toscrape.com/media/cache/ce/5f/ce...,5

**2.** Zmień nazwę kolumny 'Avilability' na 'Availability'.

In [11]:
df = df.rename(columns={'Avilability':'Availability'})
df.head()

,Title,Category,Price,Price_After_Tax,Tax_amount,Availability,Number_of_reviews,Book_Description,Image_Link,Stars
0,A Light in the Attic,Poetry,51.77,51.77,0.0,22,0,It's hard to imagine a world without A Light i...,http://books.toscrape.com/media/cache/fe/72/fe...,3
1,Tipping the Velvet,Historical Fiction,53.74,53.74,0.0,20,0,"""Erotic and absorbing...Written with starling ...",http://books.toscrape.com/media/cache/08/e9/08...,1
2,Soumission,Fiction,50.10,50.10,0.0,20,0,"Dans une France assez proche de la nÃ´tre, un ...",http://books.toscrape.com/media/cache/ee/cf/ee...,1
3,Sharp Objects,Mystery,47.82,47.82,0.0,20,0,"WICKED above her hipbone, GIRL across her hear...",http://books.toscrape.com/media/cache/c0/59/c0...,4
4,Sapiens: A Brief History of Humankind,History,54.23,54.23,0.0,20,0,From a renowned historian comes a groundbreaki...,http://books.toscrape.com/media/cache/ce/5f/ce...,5

**3.** Zmień kolejność kolumn w taki sposób, aby kolumna 'Category' występowała przed kolumną'Title'.

In [12]:
df.columns 
column_names= [ 'Category','Title', 'Price', 'Price_After_Tax', 'Tax_amount','Availability', 'Number_of_reviews', 'Book_Description', 'Image_Link','Stars']
df = df.reindex(columns=column_names)
df.head()

,Category,Title,Price,Price_After_Tax,Tax_amount,Availability,Number_of_reviews,Book_Description,Image_Link,Stars
0,Poetry,A Light in the Attic,51.77,51.77,0.0,22,0,It's hard to imagine a world without A Light i...,http://books.toscrape.com/media/cache/fe/72/fe...,3
1,Historical Fiction,Tipping the Velvet,53.74,53.74,0.0,20,0,"""Erotic and absorbing...Written with starling ...",http://books.toscrape.com/media/cache/08/e9/08...,1
2,Fiction,Soumission,50.10,50.10,0.0,20,0,"Dans une France assez proche de la nÃ´tre, un ...",http://books.toscrape.com/media/cache/ee/cf/ee...,1
3,Mystery,Sharp Objects,47.82,47.82,0.0,20,0,"WICKED above her hipbone, GIRL across her hear...",http://books.toscrape.com/media/cache/c0/59/c0...,4
4,History,Sapiens: A Brief History of Humankind,54.23,54.23,0.0,20,0,From a renowned historian comes a groundbreaki...,http://books.toscrape.com/media/cache/ce/5f/ce...,5

**4.** Wypisz kolumny posiadające takie same typy danych.

In [13]:
g = df.columns.to_series().groupby(df.dtypes).groups #Sposób 1 : pogrupowanie po typach
g

{int64: ['Availability', 'Number_of_reviews', 'Stars'], float64: ['Price', 'Price_After_Tax', 'Tax_amount'], object: ['Category', 'Title', 'Book_Description', 'Image_Link']}

In [14]:
s = pd.Series(df.dtypes)  #Sposób 2: poprzez wskazanie konkretnego typu
s[s=='object']

Category            object
Title               object
Book_Description    object
Image_Link          object
dtype: object

**5.** Podaj całkowitą cenę książek w zbiorze (każda książka ma cenę i liczbę egzemplarzy 'Availability', które trzeba uwzględnić).

In [88]:
#sum(df['Price_After_Tax']*df['Availability']) #z podatkiem
sum(df['Price']*df['Availability']) #bez podatku

300188.2700000005

**6.** Zmień kolejność indeksów w ramce danych tak, aby dane z ramki df występowały w porządku: alfabetycznym kategorii, następnie dostępnej (niemalejącej) liczby egzemplarzy, a następnie tytułu (alfabetycznie).

In [16]:
df = df.sort_values(by=['Category', 'Availability', 'Title'], ascending = [True, True, True])
df.head(n=15)

,Category,Title,Price,Price_After_Tax,Tax_amount,Availability,Number_of_reviews,Book_Description,Image_Link,Stars
616,Academic,Logan Kade (Fallen Crest High #5.5),13.12,13.12,0.0,5,0,People think that just because they know my na...,http://books.toscrape.com/media/cache/2b/44/2b...,2
970,Add a comment,Lord of the Flies,24.89,24.89,0.0,1,0,"Since it was first published in 1954, William ...",http://books.toscrape.com/media/cache/20/fd/20...,3
939,Add a comment,The Communist Manifesto,14.76,14.76,0.0,1,0,A rousing call to arms whose influence is stil...,http://books.toscrape.com/media/cache/b5/c7/b5...,3
931,Add a comment,The Iliad,16.16,16.16,0.0,1,0,The Iliad is one of the two great epics of Hom...,http://books.toscrape.com/media/cache/9e/14/9e...,1
929,Add a comment,The Light of the Fireflies,54.43,54.43,0.0,1,0,A haunting and hopeful tale of discovering lig...,http://books.toscrape.com/media/cache/94/23/94...,1
923,Add a comment,The Odyssey,29.64,29.64,0.0,1,0,Literature's grandest evocation of life's jour...,http://books.toscrape.com/media/cache/46/09/46...,3
922,Add a comment,The Republic,33.78,33.78,0.0,1,0,Presented in the form of a dialogue between So...,http://books.toscrape.com/media/cache/ab/bf/ab...,3
889,Add a comment,The Sense of an Ending,31.38,31.38,0.0,2,0,An alternative cover edition for this ISBN can...,http://books.toscrape.com/media/cache/c4/d2/c4...,3
887,Add a comment,#GIRLBOSS,50.96,50.96,0.0,3,0,The founder of Nasty Gal offers a sassy and ir...,http://books.toscrape.com/media/cache/4d/3a/4d...,1
859,Add a comment,Cosmos,36.17,36.17,0.0,3,0,"Cosmos has 13 heavily illustrated chapters, co...",http://books.toscrape.com/media/cache/e9/6e/e9...,2
843,Add a comment,Fire Bound (Sea Haven/Sisters of the Heart #5),21.28,21.28,0.0,3,0,The #1 New York Times bestselling author of th...,http://books.toscrape.com/media/cache/33/fb/33...,4
808,Add a comment,Manuscript Found in Accra,34.98,34.98,0.0,3,0,The latest novel from the #1 internationally b...,http://books.toscrape.com/media/cache/d9/54/d9...,2
786,Add a comment,Rogue Lawyer (Rogue Lawyer #1),50.11,50.11,0.0,3,0,On the right side of the law. Sort of. Sebasti...,http://books.toscrape.com/media/cache/2d/d0/2d...,3
783,Add a comment,Sarah's Key,46.29,46.29,0.0,3,0,"Paris, July 1942: Sarah, a ten year-old girl, ...",http://books.toscrape.com/media/cache/36/94/36...,1
780,Add a comment,Seven Days in the Art World,52.33,52.33,0.0,3,0,Named one of the best art books of 2008 by The...,http://books.toscrape.com/media/cache/92/2f/92...,2

**7.** Sprawdź, czy w ramce występują wartości NaN.

In [17]:
pd.isna(df).sum()

Category             0
Title                0
Price                0
Price_After_Tax      0
Tax_amount           0
Availability         0
Number_of_reviews    0
Book_Description     0
Image_Link           0
Stars                0
dtype: int64

**8.** Zmień indeks na pierwsze trzy znaki tytułu książki, a następnie wyświetl wszystkie wartości indeksu, które nie są unikatowe, wraz z liczbą ich wystąpień.

In [18]:
import numpy as np
new_indexes = []
for i in df['Title']:
    a = i[:3]
    new_indexes.append(a)

In [19]:
df.index = new_indexes
df.head(10)

,Category,Title,Price,Price_After_Tax,Tax_amount,Availability,Number_of_reviews,Book_Description,Image_Link,Stars
Log,Academic,Logan Kade (Fallen Crest High #5.5),13.12,13.12,0.0,5,0,People think that just because they know my na...,http://books.toscrape.com/media/cache/2b/44/2b...,2
Lor,Add a comment,Lord of the Flies,24.89,24.89,0.0,1,0,"Since it was first published in 1954, William ...",http://books.toscrape.com/media/cache/20/fd/20...,3
The,Add a comment,The Communist Manifesto,14.76,14.76,0.0,1,0,A rousing call to arms whose influence is stil...,http://books.toscrape.com/media/cache/b5/c7/b5...,3
The,Add a comment,The Iliad,16.16,16.16,0.0,1,0,The Iliad is one of the two great epics of Hom...,http://books.toscrape.com/media/cache/9e/14/9e...,1
The,Add a comment,The Light of the Fireflies,54.43,54.43,0.0,1,0,A haunting and hopeful tale of discovering lig...,http://books.toscrape.com/media/cache/94/23/94...,1
The,Add a comment,The Odyssey,29.64,29.64,0.0,1,0,Literature's grandest evocation of life's jour...,http://books.toscrape.com/media/cache/46/09/46...,3
The,Add a comment,The Republic,33.78,33.78,0.0,1,0,Presented in the form of a dialogue between So...,http://books.toscrape.com/media/cache/ab/bf/ab...,3
The,Add a comment,The Sense of an Ending,31.38,31.38,0.0,2,0,An alternative cover edition for this ISBN can...,http://books.toscrape.com/media/cache/c4/d2/c4...,3
#GI,Add a comment,#GIRLBOSS,50.96,50.96,0.0,3,0,The founder of Nasty Gal offers a sassy and ir...,http://books.toscrape.com/media/cache/4d/3a/4d...,1
Cos,Add a comment,Cosmos,36.17,36.17,0.0,3,0,"Cosmos has 13 heavily illustrated chapters, co...",http://books.toscrape.com/media/cache/e9/6e/e9...,2

In [40]:
all_indexes=df.index.value_counts() 
all_indexes[all_indexes.values>1]

The    269
My       8
Fru      8
How      7
A S      7
      ...
Gon      2
Sev      2
Hou      2
I H      2
Ali      2
Length: 144, dtype: int64

**9.** Zmień wartości podatku w kolumnie 'Tax_amount' w następujący sposób. Wygeneruj losowe wartości całkowite z zakresu [0..20], po jednej wartości dla każdej kategorii książek. Następnie przypisz wszystkim książkom z każdej kategorii wygenerowaną dla tej kategorii liczbę, przy czym książkom o dostępności poniżej 5 przypisz podatek jako tę liczbę o połowę mniejszą (zaokrąglając w dół do liczby całkowitej).

In [20]:
categories = df.Category.unique() #lista wszystkich kategorii (unikatowych)
taxes = np.random.choice(20, size=categories.size) #wygenerowanie losowych liczb do 20. Ilość tych losowych liczb jest uzależniona od ilości kategorii
taxes

array([ 8, 12,  9, 14,  5,  1,  1,  7,  8,  4, 16, 12, 14,  7,  2,  3, 19,
        0,  0, 11,  7, 16,  9,  7,  2, 18, 16,  5,  1, 10,  0, 17,  9, 11,
       13,  6, 11, 11,  8,  1,  9, 18, 19, 15,  7,  4, 19,  4,  1,  1])

In [42]:
categories

array(['Academic', 'Add a comment', 'Adult Fiction', 'Art',
       'Autobiography', 'Biography', 'Business', 'Childrens', 'Christian',
       'Christian Fiction', 'Classics', 'Contemporary', 'Crime',
       'Cultural', 'Default', 'Erotica', 'Fantasy', 'Fiction',
       'Food and Drink', 'Health', 'Historical', 'Historical Fiction',
       'History', 'Horror', 'Humor', 'Music', 'Mystery', 'New Adult',
       'Nonfiction', 'Novels', 'Paranormal', 'Parenting', 'Philosophy',
       'Poetry', 'Politics', 'Psychology', 'Religion', 'Romance',
       'Science', 'Science Fiction', 'Self Help', 'Sequential Art',
       'Short Stories', 'Spirituality', 'Sports and Games', 'Suspense',
       'Thriller', 'Travel', 'Womens Fiction', 'Young Adult'],
      dtype=object)

In [99]:
import numpy as np

for a in df:
    if [df.loc[df['Availability']<5]]:
        df.loc[(df['Category']==categories[i]), ['Tax_amount']] = (taxes[i]/2)
        df['Tax_amount'] = df['Tax_amount'].apply(np.floor)
    else:
        df.loc[df['Category']==categories[i], 'Tax_amount'] = taxes[i]    
        
df.head(40)

,Category,Title,Price,Price_After_Tax,Tax_amount,Availability,Expected_Tax_Revenue,Number_of_reviews,Book_Description,Image_Link,Stars
Log,Academic,Logan Kade (Fallen Crest High #5.5),13.12,14.17,8.0,5,5.25,0,People think that just because they know my na...,http://books.toscrape.com/media/cache/2b/44/2b...,2
Lor,Add a comment,Lord of the Flies,24.89,26.38,6.0,1,1.49,0,"Since it was first published in 1954, William ...",http://books.toscrape.com/media/cache/20/fd/20...,3
The,Add a comment,The Communist Manifesto,14.76,15.65,6.0,1,0.89,0,A rousing call to arms whose influence is stil...,http://books.toscrape.com/media/cache/b5/c7/b5...,3
The,Add a comment,The Iliad,16.16,17.13,6.0,1,0.97,0,The Iliad is one of the two great epics of Hom...,http://books.toscrape.com/media/cache/9e/14/9e...,1
The,Add a comment,The Light of the Fireflies,54.43,57.70,6.0,1,3.27,0,A haunting and hopeful tale of discovering lig...,http://books.toscrape.com/media/cache/94/23/94...,1
The,Add a comment,The Odyssey,29.64,31.42,6.0,1,1.78,0,Literature's grandest evocation of life's jour...,http://books.toscrape.com/media/cache/46/09/46...,3
The,Add a comment,The Republic,33.78,35.81,6.0,1,2.03,0,Presented in the form of a dialogue between So...,http://books.toscrape.com/media/cache/ab/bf/ab...,3
The,Add a comment,The Sense of an Ending,31.38,33.26,6.0,2,3.77,0,An alternative cover edition for this ISBN can...,http://books.toscrape.com/media/cache/c4/d2/c4...,3
#GI,Add a comment,#GIRLBOSS,50.96,54.02,6.0,3,9.17,0,The founder of Nasty Gal offers a sassy and ir...,http://books.toscrape.com/media/cache/4d/3a/4d...,1
Cos,Add a comment,Cosmos,36.17,38.34,6.0,3,6.51,0,"Cosmos has 13 heavily illustrated chapters, co...",http://books.toscrape.com/media/cache/e9/6e/e9...,2
Fir,Add a comment,Fire Bound (Sea Haven/Sisters of the Heart #5),21.28,22.56,6.0,3,3.83,0,The #1 New York Times bestselling author of th...,http://books.toscrape.com/media/cache/33/fb/33...,4
Man,Add a comment,Manuscript Found in Accra,34.98,37.08,6.0,3,6.30,0,The latest novel from the #1 internationally b...,http://books.toscrape.com/media/cache/d9/54/d9...,2
Rog,Add a comment,Rogue Lawyer (Rogue Lawyer #1),50.11,53.12,6.0,3,9.02,0,On the right side of the law. Sort of. Sebasti...,http://books.toscrape.com/media/cache/2d/d0/2d...,3
Sar,Add a comment,Sarah's Key,46.29,49.07,6.0,3,8.33,0,"Paris, July 1942: Sarah, a ten year-old girl, ...",http://books.toscrape.com/media/cache/36/94/36...,1
Sev,Add a comment,Seven Days in the Art World,52.33,55.47,6.0,3,9.42,0,Named one of the best art books of 2008 by The...,http://books.toscrape.com/media/cache/92/2f/92...,2
The,Add a comment,The Blind Side: Evolution of a Game,53.71,56.93,6.0,3,9.67,0,When we first meet Michael Oher is one of thir...,http://books.toscrape.com/media/cache/a2/2a/a2...,5
The,Add a comment,The Case for Christ (Cases for Christianity),47.84,50.71,6.0,3,8.61,0,Using the dramatic scenario of an investigativ...,http://books.toscrape.com/media/cache/fc/42/fc...,1
The,Add a comment,The Catcher in the Rye,24.55,26.02,6.0,3,4.42,0,"""...the first thing you'll probably want to kn...",http://books.toscrape.com/media/cache/b4/54/b4...,1
The,Add a comment,The Complete Poems,41.32,43.80,6.0,3,7.44,0,"THE ONLY ONE-VOLUME EDITION CONTAINING ALL 1,7...",http://books.toscrape.com/media/cache/e5/cb/e5...,5
The,Add a comment,"The End of Faith: Religion, Terror, and the Fu...",22.13,23.46,6.0,3,3.98,0,"In The End of Faith, Sam Harris delivers a sta...",http://books.toscrape.com/media/cache/69/97/69...,4
The,Add a comment,The Girl Who Kicked the Hornet's Nest (Millenn...,57.48,60.93,6.0,3,10.35,0,The stunning third and final novel in Stieg La...,http://books.toscrape.com/media/cache/fb/c5/fb...,1
The,Add a comment,The Hitchhiker's Guide to the Galaxy (Hitchhik...,47.80,50.67,6.0,3,8.60,0,Seconds before the Earth is demolished to make...,http://books.toscrape.com/media/cache/f4/00/f4...,3
The,Add a comment,The Purpose Driven Life: What on Earth Am I He...,37.19,39.42,6.0,3,6.69,0,"A #1 New York Times bestseller, The Purpose Dr...",http://books.toscrape.com/media/cache/e8/67/e8...,3
The,Add a comment,The Rest Is Noise: Listening to the Twentieth ...,34.77,36.86,6.0,3,6.26,0,The Rest Is Noise: Listening to the Twentieth ...,http://books.toscrape.com/media/cache/fe/74/fe...,1
The,Add a comment,The Tipping Point: How Little Things Can Make ...,10.02,10.62,6.0,3,1.80,0,The tipping point is that magic moment when an...,http://books.toscrape.com/media/cache/ba/ab/ba...,2
A C,Add a comment,A Clash of Kings (A Song of Ice and Fire #2),10.79,12.08,12.0,5,6.47,0,Alternate cover edition can be found here. Tim...,http://books.toscrape.com/media/cache/6d/73/6d...,3
A G,Add a comment,A Game of Thrones (A Song of Ice and Fire #1),46.42,51.99,12.0,5,27.85,0,Summers span decades. Winter can last a lifeti...,http://books.toscrape.com/media/cache/37/09/37...,2
Evi,Add a comment,Evicted: Poverty and Profit in the American City,42.27,47.34,12.0,5,25.36,0,New York Times BestsellerFrom Harvard sociolog...,http://books.toscrape.com/media/cache/db/27/db...,1
Fin,Add a comment,Find Her (Detective D.D. Warren #8),22.37,25.05,12.0,5,13.42,0,"Flora Dane is a victim. Seven years ago, caref...",http://books.toscrape.com/media/cache/48/4d/48...,1
The,Add a comment,The Raven King (The Raven Cycle #4),30.57,34.24,12.0,5,18.34,0,Nothing living is safe. Nothing dead is to be ...,http://books.toscrape.com/media/cache/2f/7f/2f...,2
Fun,Add a comment,Fun Home: A Family Tragicomic,56.59,63.38,12.0,6,40.74,0,"In this graphic memoir, Alison Bechdel charts ...",http://books.toscrape.com/media/cache/48/c1/48...,4
Mer,Add a comment,Mere Christianity,48.51,54.33,12.0,6,34.93,0,Mere Christianity is C.S. Lewis's forceful and...,http://books.toscrape.com/media/cache/d7/ce/d7...,3
Pri,Add a comment,Pride and Prejudice,19.27,21.58,12.0,6,13.87,0,"""It is a truth universally acknowledged, that ...",http://books.toscrape.com/media/cache/6a/87/6a...,4
The,Add a comment,The God Delusion,46.85,52.47,12.0,6,33.73,0,A preeminent scientist -- and the world's most...,http://books.toscrape.com/media/cache/30/35/30...,3
The,Add a comment,The Golden Compass (His Dark Materials #1),18.77,21.02,12.0,6,13.51,0,Here lives an orphaned ward named Lyra Belacqu...,http://books.toscrape.com/media/cache/a5/13/a5...,1
The,Add a comment,The Joy of Cooking,43.27,48.46,12.0,6,31.15,0,"Since its original publication, Joy of Cooking...",http://books.toscrape.com/media/cache/2c/81/2c...,4
Goo,Add a comment,Good in Bed (Cannie Shapiro #1),37.05,41.50,12.0,7,31.12,0,"For twenty-eight years, things have been tripp...",http://books.toscrape.com/media/cache/a5/7a/a5...,5
Joh,Add a comment,John Adams,57.43,64.32,12.0,7,48.24,0,"In this powerful, epic biography, David McCull...",http://books.toscrape.com/media/cache/fd/5f/fd...,4
Tea,Add a comment,Team of Rivals: The Political Genius of Abraha...,20.12,22.53,12.0,7,16.90,0,The life and times of Abraham Lincoln have bee...,http://books.toscrape.com/media/cache/be/22/be...,5
The,Add a comment,The Drowning Girls,35.67,39.95,12.0,7,29.96,0,Critically acclaimed author of The Mourning Ho...,http://books.toscrape.com/media/cache/8f/83/8f...,3

**10.** Zaktualizuj kolumnę ceny z podatkiem ('Price after tax') do aktualnej wartości podatku (zaokrąglając do drugiego miejsca po przecinku).

In [97]:
df['Price_After_Tax']=round((df['Price'] + (df['Tax_amount']/100) * df['Price']),2)
df.head(5)

,Category,Title,Price,Price_After_Tax,Tax_amount,Availability,Expected_Tax_Revenue,Number_of_reviews,Book_Description,Image_Link,Stars
Log,Academic,Logan Kade (Fallen Crest High #5.5),13.12,14.17,8.0,5,5.25,0,People think that just because they know my na...,http://books.toscrape.com/media/cache/2b/44/2b...,2
Lor,Add a comment,Lord of the Flies,24.89,26.38,6.0,1,1.49,0,"Since it was first published in 1954, William ...",http://books.toscrape.com/media/cache/20/fd/20...,3
The,Add a comment,The Communist Manifesto,14.76,15.65,6.0,1,0.89,0,A rousing call to arms whose influence is stil...,http://books.toscrape.com/media/cache/b5/c7/b5...,3
The,Add a comment,The Iliad,16.16,17.13,6.0,1,0.97,0,The Iliad is one of the two great epics of Hom...,http://books.toscrape.com/media/cache/9e/14/9e...,1
The,Add a comment,The Light of the Fireflies,54.43,57.70,6.0,1,3.27,0,A haunting and hopeful tale of discovering lig...,http://books.toscrape.com/media/cache/94/23/94...,1

**11.** Wyświetl tytuły i liczbę recenzji dla wszystkich książek historycznych o cenie wraz z podatkiem ('Price_after_tax') przekraczającej 35.

In [36]:
filter1 = df['Category']=='History' 
filter2= df['Price_After_Tax']>35

df[['Title', 'Number_of_reviews']][filter1 & filter2]

                                                 Title  Number_of_reviews
Hou  House of Lost Worlds: Dinosaurs, Dynasties, an...                  0
Ame  America's War for the Greater Middle East: A M...                  0
The                                   The Hiding Place                  0
The  The Mathews Men: Seven Brothers and the War Ag...                  0
Cat           Catherine the Great: Portrait of a Woman                  0
The  The Rise and Fall of the Third Reich: A Histor...                  0
A S               A Short History of Nearly Everything                  0
"Mo  "Most Blessed of the Patriarchs": Thomas Jeffe...                  0
Tho  Thomas Jefferson and the Tripoli Pirates: The ...                  0
Pol  Political Suicide: Missteps, Peccadilloes, Bad...                  0
Sap              Sapiens: A Brief History of Humankind                  0

**12.** Dla książek z powyższego punktu wylicz średnią cenę (na podstawie 'Price'), zaokrąglając do drugiego miejsca po przecinku.

In [37]:
history_books_mean = round((df[['Price']][filter1 & filter2].mean()),2)
history_books_mean.Price

49.0

**13.** Dla książek z powyższego punktu ustal cenę ('Price') na otrzymaną w poprzednim punkcie wartość średnią, a następnie zaktualizuj cenę z podatkiem ('Price_after_tax'), zaokrąglając tę cenę do drugiego miejsca po przecinku.

In [38]:
df.loc[filter1&filter2, 'Price_After_Tax'] = history_books_mean.Price

In [39]:
df[['Title', 'Number_of_reviews', 'Price_After_Tax']][filter1 & filter2]

,Title,Number_of_reviews,Price_After_Tax
Hou,"House of Lost Worlds: Dinosaurs, Dynasties, an...",0,49.0
Ame,America's War for the Greater Middle East: A M...,0,49.0
The,The Hiding Place,0,49.0
The,The Mathews Men: Seven Brothers and the War Ag...,0,49.0
Cat,Catherine the Great: Portrait of a Woman,0,49.0
The,The Rise and Fall of the Third Reich: A Histor...,0,49.0
A S,A Short History of Nearly Everything,0,49.0
"""Mo","""Most Blessed of the Patriarchs"": Thomas Jeffe...",0,49.0
Tho,Thomas Jefferson and the Tripoli Pirates: The ...,0,49.0
Pol,"Political Suicide: Missteps, Peccadilloes, Bad...",0,49.0
Sap,Sapiens: A Brief History of Humankind,0,49.0

**14.** Dodaj kolumnę 'Expected_Tax_Revenue' wyliczoną jako spodziewana wartość podatku na podstawie liczby dostępnych egzemplarzy, ceny książki i wielkości podatku, zaokrąglając uzyskaną wartość do drugiego miejsca po przecinku.

In [91]:
exp_tax = (df['Price']* (df['Tax_amount']/100)) * df['Availability']
df ['Expected_Tax_Revenue'] = round(exp_tax,2)
column_names= [ 'Category','Title', 'Price', 'Price_After_Tax', 'Tax_amount', 'Availability', 'Expected_Tax_Revenue','Number_of_reviews', 'Book_Description', 'Image_Link','Stars']
df = df.reindex(columns=column_names)
df.head()

,Category,Title,Price,Price_After_Tax,Tax_amount,Availability,Expected_Tax_Revenue,Number_of_reviews,Book_Description,Image_Link,Stars
Log,Academic,Logan Kade (Fallen Crest High #5.5),13.12,14.17,8.0,5,5.25,0,People think that just because they know my na...,http://books.toscrape.com/media/cache/2b/44/2b...,2
Lor,Add a comment,Lord of the Flies,24.89,26.38,6.0,1,1.49,0,"Since it was first published in 1954, William ...",http://books.toscrape.com/media/cache/20/fd/20...,3
The,Add a comment,The Communist Manifesto,14.76,15.65,6.0,1,0.89,0,A rousing call to arms whose influence is stil...,http://books.toscrape.com/media/cache/b5/c7/b5...,3
The,Add a comment,The Iliad,16.16,17.13,6.0,1,0.97,0,The Iliad is one of the two great epics of Hom...,http://books.toscrape.com/media/cache/9e/14/9e...,1
The,Add a comment,The Light of the Fireflies,54.43,57.70,6.0,1,3.27,0,A haunting and hopeful tale of discovering lig...,http://books.toscrape.com/media/cache/94/23/94...,1

**15.** Usuń wszystkie książki z kategorii 'Horror' i 'Mystery'.

In [20]:
df.drop(df[df['Category'] == 'Horror'].index, inplace = True)
df.drop(df[df['Category'] == 'Mystery'].index, inplace = True)
sum(df['Category']=='Mystery')

0

**16.** Wyświetl tytuły książek, które mają opis ('Book_Description') dłuższy niż 2000 znaków, ale tytuł nie dłuższy niż 20 znaków.

In [29]:
filter1 = (df['Book_Description']).str.len() >2000
filter2 = (df['Title']).str.len() <=20
df[['Title']][filter1 & filter2]

                    Title
Lor     Lord of the Flies
Joh            John Adams
Mod        Modern Romance
Clo          Close to You
Mod     Modern Day Fables
Dai  Daily Fantasy Sports
Dar            Daredevils
My          My Mrs. Brown
A P     A Paris Apartment
Why           Why Not Me?
Abs         Abstract City
Art        Art Ops Vol. 1