# Pobieranie i wczytywanie zbiorów danych z Kaggle.com

Aby korzystać z poniżej opisanego sposobu pobierania danych z Kaggle.com, należy: 
- zainstalować pakiet `kaggle`, np. wpisując w systemie Windows w wierszu poleceń "py.exe -m pip install kaggle",
- zarejestrować się i zalogować na stronie Kaggle.com,
- pobrać plik autoryzacyjny z witryny Kaggle.com: na stronie wchodzimy w ustawienia konta (account), a następnie w sekcji API wybieramy "Create New API Token" i pobrany plik autoryzacyjny, który należy umieścić w odpowiednim miejscu (Windows: C:\Users\\[nazwa użytkownika]\\.kaggle, Linux: ~/.kaggle/)

Więcej szczegółów na temat korzystania z API Kaggle można znaleźć w dokumencie https://www.kaggle.com/docs/api

Poniżej pobranie i wczytanie ramki danych ze zbioru https://www.kaggle.com/datasets/jalota/books-dataset.

In [1]:
import kaggle

Aby pobrać zbiór danych z kaggle, konieczna jest znajomość nazwy użytkownia, który zamieścił zbiór danych, oraz nazwy samego zbioru danych. W naszym przykładzie są to odpowiednio 'jalota' oraz 'Books-dataset'. Poniżej pobranie skompresowanego zbioru danych do podkatalogu 'datasets'.

In [2]:
kaggle.api.dataset_download_cli('jalota/Books-dataset', path='datasets')

Downloading Books-dataset.zip to datasets

100%|███████████████████████████████████████████████████████████████████████████████| 537k/537k [00:00<00:00, 14.7MB/s]

Rozpakowanie danych

In [3]:
from zipfile import ZipFile
with ZipFile('datasets/books-dataset.zip', 'r') as zipObj:
   zipObj.extractall('datasets')

Można także przy pobieraniu zaznaczyć, że pobrane dane mają być rozpakowane (parametr unzip=True). Poniżej polecenie pobierające rozpakowane dane do podkatalogu `datasets'

In [4]:
kaggle.api.dataset_download_cli('jalota/Books-dataset', path='datasets', unzip=True)

Downloading Books-dataset.zip to datasets

100%|███████████████████████████████████████████████████████████████████████████████| 537k/537k [00:00<00:00, 20.9MB/s]

Wczytanie danych do ramki danych

In [5]:
import pandas as pd
df = pd.read_csv('datasets/Book_Dataset_1.csv')

Wyświetlenie ramki danych

In [6]:
df

,Unnamed: 0,Title,Category,Price,Price_After_Tax,Tax_amount,Avilability,Number_of_reviews,Book_Description,Image_Link,Stars
0,0,A Light in the Attic,Poetry,51.77,51.77,0.0,22,0,It's hard to imagine a world without A Light i...,http://books.toscrape.com/media/cache/fe/72/fe...,3
1,1,Tipping the Velvet,Historical Fiction,53.74,53.74,0.0,20,0,"""Erotic and absorbing...Written with starling ...",http://books.toscrape.com/media/cache/08/e9/08...,1
2,2,Soumission,Fiction,50.10,50.10,0.0,20,0,"Dans une France assez proche de la nÃ´tre, un ...",http://books.toscrape.com/media/cache/ee/cf/ee...,1
3,3,Sharp Objects,Mystery,47.82,47.82,0.0,20,0,"WICKED above her hipbone, GIRL across her hear...",http://books.toscrape.com/media/cache/c0/59/c0...,4
4,4,Sapiens: A Brief History of Humankind,History,54.23,54.23,0.0,20,0,From a renowned historian comes a groundbreaki...,http://books.toscrape.com/media/cache/ce/5f/ce...,5
...,...,...,...,...,...,...,...,...,...,...,...
995,995,Alice in Wonderland (Alice's Adventures in Won...,Classics,55.53,55.53,0.0,1,0,\n\n\n\n\n\n,http://books.toscrape.com/media/cache/99/df/99...,1
996,996,"Ajin: Demi-Human, Volume 1 (Ajin: Demi-Human #1)",Sequential Art,57.06,57.06,0.0,1,0,High school student Kei Nagai is struck dead i...,http://books.toscrape.com/media/cache/30/98/30...,4
997,997,A Spy's Devotion (The Regency Spies of London #1),Historical Fiction,16.97,16.97,0.0,1,0,"In Englandâs Regency era, manners and elegan...",http://books.toscrape.com/media/cache/f9/6b/f9...,5
998,998,1st to Die (Women's Murder Club #1),Mystery,53.98,53.98,0.0,1,0,"James Patterson, bestselling author of the Ale...",http://books.toscrape.com/media/cache/f6/8e/f6...,1
999,999,"1,000 Places to See Before You Die",Travel,26.08,26.08,0.0,1,0,"Around the World, continent by continent, here...",http://books.toscrape.com/media/cache/9e/10/9e...,5